<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/Users/CarlosAlmonte/Desktop/APPS/rails-projects/aw-api/app/assets/stylesheets/app.css">
    <link rel="stylesheet" href="<%=Rails.root%>/app/assets/stylesheets/app.css">
  </head>

  <body>
    <header>
      <div class="logo-container">
      </div>
    </header>
    <section class="title-container">
      <h1>Parsed Report</h1>
      <div class="line"></div>
      <h4>generated at 12:12pm</h4>
    </section>
    <section class="content table">
      <table>
        <% rows.each_with_index do |row, i| %>
          <tr>
            <% row.split(",").each_with_index do |cell, j|%>
              <% if i == 0 %>  
                <th><%= cell %></th>
              <% else %>
                <th><%= cell %></th>
              <% end %>

            <% end %>
          </tr>
      <% end %>
      </table>
    </section>
  </body>
</html>
